*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(104.05deg, #030F19 -2.59%, #0B192C 110.84%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.events-title{
    width: 100%;
    font-size: 55px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
}

.events-desc{
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #E87722;
}

.events-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.events-container-card{
    width: 329px;
    height: 422px;
    border: 1px solid;
    border-image-source: linear-gradient(180deg, #7DDCC8 0%, #7DDCC8 100%);
    box-shadow: 0px 19px 11px -2px #7DDCC8,
    0px 34px 24px -10px #7DDCC8,
    0px 14px 24px 3px #7DDCC8,
    0px 11px 10px 3px #FFFFFF99,
    0px 10px 10px 3px #31C2BB,
    0px 8px 10px 1px #31C2BB,
    0px 9px 10px -2px #31C2BB,
    0px 3px 10px -2px #31C2BB;
    border-radius: 24px;
}

.registrations{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.registrations-title{
    width: 100%;
    font-size: 55px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
}

.registrations-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.registrations-container-card{
    width: 500px;
    height: 210px;
    border: 1px solid black;
    display: flex;
}

.registrations-container-card-left{
    width: 70%;
    padding: 20px;
}

.registrations-container-card-right{
    width: 30%;
    border-left: 2px dashed white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.registrations-container-card-right-barcode{
    width: 80px;
    height: 160px;
    padding: 10px 20px 10px 10px;
    border: 1px solid black;
}

.registrations-container-card-right::after{
    content: "Two Day Pass";
    line-height: 0;
    position: absolute;
    right: 10px;
    bottom: 155px;
    transform: rotate(-90deg);
    transform-origin: bottom right;
}