.main{      
    /* added class for main body */
    background-color: rgb(1, 1, 33);
    color :white;
    font-family: poppins, sans-serif;
    
}

.orange-hr{
    width: 90%; 
    height: 4px; 
    background-color:#f86904;
    border: none; 
    margin-left: 5%;
    margin-right: 5%;
}
.orange{
    color: #f86904 !important;
}
.white-hr1{
    width: 75%; 
    height: 2px; 
    background-color: white;
    border: none; 
   
}
.white-hr2{
    width: 75%; 
    height: 2px; 
    background-color: white;
    border: none; 
    margin-left: 25%;
    
}
.margin-left-52{
    margin-left: 52%;
}
.bottom-hr {
        visibility: hidden;
}
.admin-block{
    width: 100%;
    height: 100%;
    background-size: cover;
}

@media (max-width: 768px) {
    .responsive-row1 {
        flex-wrap: wrap-reverse;
        
    }
    .responsive-row2{
        flex-direction: column;
        margin-bottom: 1rem;    }
    .admin-block {
        margin-top: 2rem;
    }
    .white-hr1 {
        width: 50%;
    }
    .white-hr2{
        width: 50%;
        margin-left: 50%;
    }
    .margin-left-52 {
        margin-left: 1.4rem;
    }
    .margin-left-host {
        margin-left: 53%;
    }
    .iframe-margin {
        margin-bottom: 2rem;
        
        height: 18rem;
        width: 100%;
        
    }
    .bottom-hr {
        visibility: visible;
    }
    .footer-wrapper {
        flex-wrap: wrap;
    }
    
}
@media (max-width: 320px) {
   
   .wrap{
    overflow-wrap: break-word; 
    word-wrap: break-word; 
   }
}